.hero-section {
    height: 100vh; 
    background-image: url('/images/pexels-souvenirpixels-417074.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-heading {
    font-size: 3rem;
    font-weight: bold;
}

.hero-subheading {
    font-size: 1.5rem;
    margin-top: 10px;
}

.cta-buttons .btn {
    padding: 15px 30px;
    font-size: 1.2rem;
}

.hero-tagline {
    font-size: 1rem;
    font-style: italic;
}



@media (max-width: 768px) {
    .hero-heading {
        font-size: 2rem;
    }
    .hero-subheading {
        font-size: 1.2rem;
    }
    .cta-buttons .btn {
        font-size: 1rem;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.btn-pulse:hover {
    animation: pulse 0.7s infinite;
}


.nav-link:hover {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
    transition: box-shadow 0.3s ease;
}

.navbar-brand {
    padding-left: 20px;
}

.btn-pulse {
    padding-right: 20px;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: space-evenly;
}


@media (max-width: 768px) {
    .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
    }
}
